:root {
    --primary-color: #4CAF50;
    --secondary-color: #333;
    --text-color: white;
}

body {
    font-family: 'Roboto', sans-serif; /* Remplacez par votre police personnalisée */
    background: url('https://c.wallhere.com/photos/13/f1/circuit_boards_integrated_circuits_technology_chips-1792545.jpg!d') no-repeat center center fixed; 
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    padding: 2rem;
    text-align: center;
}

.intro h1 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

.intro p {
    font-size: 1.2rem;
}

.intro a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.intro a:hover {
    background: #0056b3;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.project {
    background: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
}

.social-links a {
    margin: 0 0.5rem;
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
}

form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

form button {
    padding: 0.5rem 1rem;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

form button:hover {
    background: #0056b3;
}

footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
