body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #cfd8dc;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(30, 30, 30, 0.9);
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

