body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #cfd8dc;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(30, 30, 30, 0.95); /* Augmentation de l'opacité */
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#home {
    height: 100vh;
    background: url('https://c.wallhere.com/photos/13/f1/circuit_boards_integrated_circuits_technology_chips-1792545.jpg!d') no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home .intro {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

#about .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#about img {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-color: #333;
    border: 1px solid #00bcd4;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #00bcd4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
    transform: translateY(20px);
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #00bcd4;
    margin: 0 10px;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 5px 0;
}

form input, form textarea {
    padding: 10px;
    margin: 5px 0;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #00bcd4;
    background: #333;
    color: #cfd8dc;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #00bcd4;
    color: #1e1e1e;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #fff;
}
